<div class="landing-background">
  <div class="landing-tagline">
    DO GOOD BETTER
  </div>
  <div class="landing-container">
    <div class="landing-box">
      <div class="landing-text">
        GIVERS
      </div>
    </div>
    <div class="landing-divider">
      &nbsp;
    </div>
    <div class="landing-box">
      <div class="landing-text">
        NONPROFITS
      </div>
    </div>
  </div>
</div>
